/**
 * Place your custom styles here.
 */
@media all {
  #navbar > div.navbar-header > div > a.logo.navbar-btn.pull-left > img {
    border: 0;
    width: 4em;
  }

  .language-link.is-active {
    color: #fff;
  }

#block-selecteurdelangue > ul .links.listGroup {
  margin-left: -1.4em;
}

}